mixin inputEmail(name, placeholder)
  .input-email
    input.input-email__field(
      type="email",
      name=name,
      placeholder=placeholder,
      required
    )
    span.input-email__error ошибка