extends ./layouts/main.pug

block vars
  - var title = 'AI'
  - var description = 'Онлайн-курс AI'

block header
  include ./blocks/header/header.pug

block content
  include ./blocks/banner/banner.pug