@use "abstracts" as *;

.modal {
  width: 80%;
  max-width: 688px;

  &[open] {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    gap: 30px;

    padding: 30px 60px 60px 60px;
    border: 3px solid $color-alt-background;
    border-radius: 24px;
    background-color: $color-surface;

    overflow-x: hidden;

    @media (width < $breakpoint-md) {
      gap: 15px;
      border-radius: 12px;
      padding: 15px;
    }
  }

  &__text-block {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 12px;
    color: $color-text;
  }

  &__title {
    text-align: center;
    @include font(subheading);
  }

  &__description {
    text-align: center;
    @include font(bodyl);
  }

  &__img {
    position: relative;
    width: 100%;
  }

  &__close {
    width: 24px;
    height: 24px;
    margin-left: auto;

    position: relative;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    &:hover * {
      background-color: $color-primary;
    }
  }

  &__close-line {
    position: absolute;
    width: 34px;
    height: 1px;
    background-color: $color-text;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    transition: all 0.3s ease-in-out;

    &:first-child {
      transform: translatex(-17%) translateY(-50%) rotate(45deg);
    }

    &:last-child {
      transform: translatex(-17%) translateY(-50%) rotate(-45deg);
    }
  }

  &::backdrop {
    background-color: rgba(12, 13, 18, 0.3);
    backdrop-filter: blur(18px);
  }
}
