@use "../../styles/abstracts" as *;

.wrapper {
  max-width: 1430px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;

  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 96px;
  padding: 96px 0;
  
  @media (width<$breakpoint-md) {
    gap: 60px;
    padding: 18px 0;
  }
}
